<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered table-hover text-center custom-table-width">
      <tbody>
      <tr *ngFor="let item of productselected; let i = index">
        <!-- Product Image -->
        <td>
          <img [src]="item.produit.images[0]" class="img-fluid product-image rounded" alt="Product Image" />
        </td>

        <!-- Product Title -->
        <td>
          <h5 class="font-weight-bold">{{ item.produit.title }}</h5>
        </td>

        <!-- Product Price -->
        <td>
          <h6 class="text-primary">{{ item.produit.price }}$</h6>
        </td>

        <!-- Product Quantity -->
        <td>
          <div class="d-flex align-items-center justify-content-center">
            <!-- Minus Button -->
            <button  class="btn btn-light btn-sm mx-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5H3.5a.5.5 0 0 1 0-1H8v-5z"/>
              </svg>
            </button>

            <!-- Quantity Display -->
            <span class="mx-2">{{ item.Qte }}</span>

            <!-- Plus Button -->
            <button  class="btn btn-light btn-sm mx-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
              </svg>
            </button>
          </div>
        </td>

        <!-- Buy Button -->
        <td>
          <h6 class="text-primary">{{ item.total }}$</h6>
          <button class="btn btn-primary btn-sm">Buy</button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Total and Buy All Button -->
    <div class="d-flex justify-content-center align-items-center mt-3 ">

      <button class="btn btn-buy" >
        Buy All
      </button>
    </div>

  </div>
</div>

